{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}        
 
{% block content %}
<form
        action="{{ url_for('add_entry') }}"
        method="post"
        class="add-entry"
    >
    <dl>
        <dt>Title:</dt>
        <dd><input type="text" size="30" name="title"/></dd>
        <dt>Text:</dt>
        <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
        <dd><input type="submit" value="Share" /></dd>
    </dl>
</form>


<ul class="entries">
    {% for entry in entries %}
        <li class="entry">
            <h2 id="{{ entry.id }}">{{ entry.title }}</h2>
                {{ entry.text|safe }}
        </li>
    {% else %}
        <li><em>No entries yet. Add some!</em></li>
    {% endfor %}
</ul>
<script
    type="text/javascript"
    src="{{url_for('static', filename='main.js') }}"
></script>

{% endblock %}
